{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins #resource-config/edn #resource-config/env "ALLOWED_ORIGINS"}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :kehaar {:incoming-services
                     [{:f election-notification-http-api.handlers/ok
                       :queue "election-notification-http-api.ok"
                       :response true
                       :threads 2}]

                     :external-services
                     [{:queue "election-notification-works.subscription.create"
                       :channel election-notification-http-api.channels/create-subscriptions
                       :response true
                       :timeout 40000}
                      {:queue"election-notification-works.subscription.read"
                       :channel election-notification-http-api.channels/read-subscriptions
                       :response true
                       :timeout 40000}
                      {:queue "election-notification-works.subscription.delete"
                       :channel election-notification-http-api.channels/delete-subscriptions
                       :response true
                       :timeout 40000}
                      {:queue "election-notification-works.transactional.send"
                       :channel election-notification-http-api.channels/send-transactional
                       :response true
                       :timeout 40000}
                      {:queue "election-notification-works.turbovote-signup.create"
                       :channel election-notification-http-api.channels/create-turbovote-signup
                       :response true
                       :timeout 40000}
                      {:queue "election-notification-works.turbovote-signup.delete"
                       :channel election-notification-http-api.channels/delete-turbovote-signup
                       :response true
                       :timeout 40000}]}}}
